.movie-details {
  max-width: 1400px;
  margin: 40px auto;
  padding: 20px;

  display: flex;
  gap: 50px;
  align-items: flex-start;
}

.movie-details > img {
  width: 340px;
  height: 520px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,.25);
}

.movie-info {
  flex: 1;
}

.movie-info h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.movie-info p {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 15px;
}

.movie-info strong {
  font-weight: bold;
}

/* ---------------------------
      Trailer Button
----------------------------*/

.trailer-btn {
  display: block;
  margin: 35px auto;

  padding: 14px 28px;

  border: none;
  border-radius: 8px;

  background: #e50914;
  color: #fff;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
  transition: .3s;
}

.trailer-btn:hover {
  background: #b20710;
  transform: scale(1.05);
}

/* ---------------------------
        Youtube
----------------------------*/

.youtube-player {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 40px;
}

.youtube-player h2 {
  text-align: center;
  margin-bottom: 26px;
}

.youtube-player iframe {
  width: 100%;
  max-width: 900px;
  height: 500px;

  display: block;
  margin: auto;

  border-radius: 15px;

  box-shadow: 0 8px 25px rgba(0,0,0,.25);
}

/* ---------------------------
          Cast
----------------------------*/

.cast-container {
  display: flex;
  justify-content: center;
  gap: 22px;

  margin-top: 35px;

  overflow-x: auto;

  padding-bottom: 20px;
}

.cast-container::-webkit-scrollbar {
  height: 8px;
}

.cast-container::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

.cast-card {
  min-width: 170px;
  text-align: center;
}

.cast-card img {
  width: 170px;
  height: 250px;

  object-fit: cover;

  border-radius: 12px;

  transition: .3s;
}

.cast-card img:hover {
  transform: scale(1.05);
}

.cast-card h4 {
  margin-top: 12px;
  font-size: 18px;
}

.cast-card p {
  margin-top: 6px;
  font-size: 14px;
  color: #666;
}

/* ---------------------------
      Mobile Responsive
----------------------------*/

@media(max-width:900px){

.movie-details{
    flex-direction:column;
    align-items:center;
}

.movie-details>img{
    width:260px;
    height:auto;
}

.movie-info{
    width:100%;
    text-align:center;
}

.movie-info h1{
    font-size:38px;
}

.movie-info p{
    font-size:18px;
    line-height: 1.7;;
}

.trailer-btn{
    font-size:18px;
}

.youtube-player iframe{
    height:280px;
}

.cast-card{
    min-width:130px;
}

.cast-card img{
    width:130px;
    height:190px;
}

}
