.footer{
    background:linear-gradient(90deg,#2D3250,#1B1B3A);
    color:white;

    margin-top:60px;
    padding:35px 20px;

    text-align:center;
}

.footer-content{
    max-width:900px;
    margin:auto;
}

.footer h3{
    color:#FFD369;
    font-size:28px;
    margin-bottom:15px;
}

.footer p{
    color:#dddddd;
    font-size:16px;
    margin:10px 0;
}

@media(max-width:900px){

.footer h3{
    font-size:24px;
}

.footer p{
    font-size:15px;
}

}